{% extends 'partials/base.html' %}
{% load static currency_filters i18n %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>{% trans "Home" %}</a>
                    <span></span> {% trans "Pages" %} <span></span> {% trans "My Account" %}
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fi-rs-user mr-10"></i>{% trans "Profile" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>{% trans "Dashboard" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>{% trans "Orders" %}</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'core:wishlist' %}"><i class="fi-rs-heart mr-10"></i>{% trans "Wishlist" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'userauths:sign-out' %}"><i class="fi-rs-sign-out mr-10"></i>{% trans "Logout" %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content account dashboard-content pl-50">
                                    <!-- Profile Tab -->
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                            <div class="card-header border-bottom">
                                                <h3 class="mb-0">{% trans "My Profile" %}</h3>
                                            </div>
                                            <div class="card-body mb-2" style="display: flex; align-items: center; gap: 10px;">
                                                <div>
                                                    {% if user_profile.image %}
                                                    <span><img src="{{ user_profile.image.url }}" style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>
                                                    {% else %}
                                                    <span><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>
                                                    {% endif %}
                                                </div>
                                                <div style="flex: 1;">
                                                    <div class="mb-3">
                                                        <input class="form-control" type="text" value="{% trans 'Name' %}: {{ user_profile.full_name|default:user_profile.user.username }}" readonly>
                                                    </div>
                                                    <div class="mb-3">
                                                        <input class="form-control" type="text" value="{% trans 'Email' %}: {{ user_profile.user.email }}" readonly>
                                                    </div>
                                                    <div class="mb-3">
                                                        <input class="form-control" type="text" value="{% trans 'Bio' %}: {{ user_profile.bio|default:'' }}" readonly>
                                                    </div>
                                                    <div class="mb-3">
                                                        <input class="form-control" type="text" value="{% trans 'Phone' %}: {{ user_profile.phone|default:'' }}" readonly>
                                                    </div>
                                                    <div class="mb-3">
                                                        <input class="form-control" type="text" value="{% trans 'Address' %}: {{ user_profile.address|default:'' }}" readonly>
                                                    </div>
                                                    {% if user_profile.verified %}
                                                    <div class="p-4 border rounded">
                                                        <span>{% trans "Verified" %}</span> <span><i class="fas fa-check-circle"></i></span>
                                                    </div>
                                                    {% else %}
                                                    <div class="p-4 border rounded">
                                                        <span>{% trans "Not verified" %}</span> <span><i class="fas fa-x"></i></span>
                                                    </div>
                                                    {% endif %}
                                                    <div class="p-4 border rounded">
                                                       <a href="{% url 'userauths:profile-update' %}" class="btn btn-success">{% trans "Edit Profile" %}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Dashboard Tab (Chart) -->
                                    <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">{% trans "Hello" %} {{ request.user|title }}!</h3>
                                            </div>
                                            <div class="card-body">
                                                <p>
                                                    {% trans "From your account dashboard you can easily check &amp; view your" %} <a href="#">{% trans "recent orders" %}</a>,<br />
                                                    {% trans "manage your" %} <a href="#">{% trans "shipping and billing addresses" %}</a> {% trans "and" %} <a href="#">{% trans "edit your password and account details." %}</a>
                                                </p>
                                            </div>
                                            <div style="height: 500px; width: 100%; max-width: 800px; margin: 0 auto;">
                                                <canvas id="myChart"></canvas>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Orders Tab -->
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">{% trans "Your Orders" %}</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>{% trans "Order" %}</th>
                                                                <th>{% trans "Date" %}</th>
                                                                <th>{% trans "Status" %}</th>
                                                                <th>{% trans "Paid Status" %}</th>
                                                                <th>{% trans "Total" %}</th>
                                                                <th>{% trans "Actions" %}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for o in orders_list %}
                                                            <tr>
                                                                <td>{{ o.oid }}</td>
                                                                <td>{{ o.order_date }}</td>
                                                                <td>{{ o.get_product_status_display }}</td>
                                                                {% if o.paid_status %}
                                                                <td class="text-success"><b>&#10003;</b></td>
                                                                {% else %}
                                                                <td class="text-danger"><b>X</b></td>
                                                                {% endif %}
                                                                <td>{{ o.price|vnd }} ₫</td>
                                                                <td><a href="{% url 'core:order-detail' o.id %}" class="btn-small d-block">{% trans "View" %}</a></td>
                                                            </tr>
                                                            {% empty %}
                                                            <tr>
                                                                <td colspan="6">{% trans "No orders yet." %}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Monthly orders chart
        const labels = {{ month|safe }};
        const data = {
          labels: labels,
          datasets: [{
            label: 'Orders',
            backgroundColor: 'rgb(59, 183, 126)',
            borderColor: 'rgb(59, 183, 126)',
            data: {{ total_orders|safe }}
          }],
        };

        const config = {
          type: 'bar',
          data: data,
          options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        // Make Default Address AJAX
        $(document).on("click", ".make-default-address", function(){
            let id = $(this).attr("data-address-id");
            let this_val = $(this);

            $.ajax({
                url: "{% url 'core:make-default-address' %}",
                data: { "id": id },
                dataType: "json",
                success: function(response){
                    if(response.boolean === true){
                        // Hide all check icons and show all buttons
                        $(".check").hide();
                        $(".action_btn").show();

                        // Show the check for this address and hide its button
                        $(".check" + id).show();
                        $(".button" + id).hide();
                    }
                }
            });
        });
    </script>
{% endblock content %}



