{% extends 'partials/base.html' %}
{% load static currency_filters i18n %}
{% block content %}
    <main class="main">
        <div class="container mb-30">
            <div class="row flex-row-reverse">
                <div class="col-lg-4-5">
                    <section class="home-slider position-relative mb-30">
                        <div class="home-slide-cover mt-30">
                            <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                                <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-1.png' %})">
                                    <div class="slider-content">
                                        <h1 class="display-2 mb-40">
                                            {% trans "Don’t miss amazing<br /> grocery deals" %}
                                        </h1>
                                        <p class="mb-65">{% trans "Sign up for the daily newsletter" %}</p>
                                        <form class="form-subcriber d-flex">
                                            <input type="email" placeholder="{% trans 'Your email address' %}" />
                                            <button class="btn" type="submit">{% trans "Subscribe" %}</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-2.png' %})">
                                    <div class="slider-content">
                                        <h1 class="display-2 mb-40">
                                            {% trans "Fresh Vegetables<br /> Big discount" %}
                                        </h1>
                                        <p class="mb-65">{% trans "Save up to 50% off on your first order" %}</p>
                                        <form class="form-subcriber d-flex">
                                            <input type="email" placeholder="{% trans 'Your email address' %}" />
                                            <button class="btn" type="submit">{% trans "Subscribe" %}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow hero-slider-1-arrow"></div>
                        </div>
                    </section>
                    <!--End hero-->
                    <section class="product-tabs section-padding position-relative">
                        <div class="section-title style-2">
                            <h3>{% trans "Popular Products" %}</h3>
                            <ul class="nav nav-tabs links" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-all" data-bs-toggle="tab" data-bs-target="#tab-all" type="button" role="tab" aria-controls="tab-all" aria-selected="true">{% trans "All" %}</button>
                                </li>
                                {% for c in categories %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-{{ c.c_id }}" data-bs-toggle="tab" data-bs-target="#tab-{{ c.c_id }}" type="button" role="tab" aria-controls="tab-{{ c.c_id }}" aria-selected="false">{{ c.title }}</button>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-all" role="tabpanel" aria-labelledby="tab-all">
                                <div class="row product-grid-4">
                                    {% for p in products %}
                                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url 'core:product-detail' p.p_id %}">
                                                        <img class="default-img" src="{{ p.image.url }}" alt="" />
                                                        <img class="hover-img" src="{{ p.image.url }}" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn add-to-wishlist" href="#" data-product-id="{{ p.id }}">
                                                        {% if p.id in wishlist_product_ids %}
                                                        <i class="fi-rs-heart text-danger"></i>
                                                        {% else %}
                                                        <i class="fi-rs-heart"></i>
                                                        {% endif %}
                                                    </a>
                                                    <a aria-label="Quick view" class="action-btn" href="{% url 'core:product-detail' p.p_id %}"><i class="fi-rs-eye"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">-{{ p.get_percentage }}%</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="{% url 'core:category-product-list' p.category.c_id %}">{{ p.category.title }}</a>
                                                </div>
                                                <h2><a href="{% url 'core:product-detail' p.p_id %}">{{ p.title }}</a></h2>
                                                <div class="product-rate-cover">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                                </div>
                                                <div>
                                                    <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' p.vendor.v_id %}">{{ p.vendor.name }}</a></span>
                                                </div>
                                                <div class="product-card-bottom">
                                                    <div class="product-price">
                                                        <span class="current-product-price-{{ p.id }}">{{ p.price|vnd }}</span><span> ₫</span>
                                                        <span class="old-price">{{ p.old_price|vnd }} ₫</span>
                                                    </div>
                                                    <div class="add-cart">
                                                        <input type="hidden" value="1" class="product-quantity-{{ p.id }}">
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                        <button class="add add-to-cart-btn" data-index="{{ p.id }}" style="border: none;"><i class="fi-rs-shopping-cart mr-5"></i>{% trans "Add" %}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            {% for c in categories %}
                            <div class="tab-pane fade" id="tab-{{ c.c_id }}" role="tabpanel" aria-labelledby="tab-{{ c.c_id }}">
                                <div class="row product-grid-4">
                                    {% for p in c.products.all %}
                                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url 'core:product-detail' p.p_id %}">
                                                        <img class="default-img" src="{{ p.image.url }}" alt="" />
                                                        <img class="hover-img" src="{{ p.image.url }}" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn add-to-wishlist" href="#" data-product-id="{{ p.id }}">
                                                        {% if p.id in wishlist_product_ids %}
                                                        <i class="fi-rs-heart text-danger"></i>
                                                        {% else %}
                                                        <i class="fi-rs-heart"></i>
                                                        {% endif %}
                                                    </a>
                                                    <a aria-label="Quick view" class="action-btn" href="{% url 'core:product-detail' p.p_id %}"><i class="fi-rs-eye"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">-{{ p.get_percentage }}%</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="{% url 'core:category-product-list' p.category.c_id %}">{{ p.category.title }}</a>
                                                </div>
                                                <h2><a href="{% url 'core:product-detail' p.p_id %}">{{ p.title }}</a></h2>
                                                <div class="product-rate-cover">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                                </div>
                                                <div>
                                                    <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' p.vendor.v_id %}">{{ p.vendor.name }}</a></span>
                                                </div>
                                                <div class="product-card-bottom">
                                                    <div class="product-price">
                                                        <span class="current-product-price-{{ p.id }}">{{ p.price|vnd }}</span><span> ₫</span>
                                                        <span class="old-price">{{ p.old_price|vnd }} ₫</span>
                                                    </div>
                                                    <div class="add-cart">
                                                        <input type="hidden" value="1" class="product-quantity-{{ p.id }}">
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                        <button class="add add-to-cart-btn" data-index="{{ p.id }}" style="border: none;"><i class="fi-rs-shopping-cart mr-5"></i>{% trans "Add" %}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--End tab-content-->
                    </section>
                    <!--Products Tabs-->
                    <section class="section-padding pb-5">
                        <div class="section-title">
                            <h3 class="">{% trans "Deals Of The Day" %}</h3>
                            <a class="show-all" href="{% url 'core:coming-soon' %}">
                                {% trans "All Deals" %}
                                <i class="fi-rs-angle-right"></i>
                            </a>
                        </div>
                        <div class="row">
                            {% for p in deals_products %}
                            <div class="col-xl-3 col-lg-4 col-md-6 {% if forloop.counter == 3 %}d-none d-lg-block{% elif forloop.counter == 4 %}d-none d-xl-block{% endif %}">
                                <div class="product-cart-wrap style-2">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img">
                                            <a href="{% url 'core:product-detail' p.p_id %}">
                                                <img src="{{ p.image.url }}" alt="{{ p.title }}" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="deals-countdown-wrap">
                                            <div class="deals-countdown" data-countdown="2026/04/25 00:00:00"></div>
                                        </div>
                                        <div class="deals-content">
                                            <h2><a href="{% url 'core:product-detail' p.p_id %}">{{ p.title|truncatechars:40 }}</a></h2>
                                            <div class="product-rate-cover">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                                            </div>
                                            <div>
                                                <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' p.vendor.v_id %}">{{ p.vendor.name }}</a></span>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-price">
                                                    <span>{{ p.price|vnd }} ₫</span>
                                                    <span class="old-price">{{ p.old_price|vnd }} ₫</span>
                                                </div>
                                                <div class="add-cart">
                                                    <input type="hidden" value="1" class="product-quantity-{{ p.id }}">
                                                    <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                    <button class="add add-to-cart-btn" data-index="{{ p.id }}" style="border: none;"><i class="fi-rs-shopping-cart mr-5"></i>Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                    <!--End Deals-->
                    <section class="banners">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="banner-img">
                                    <img src="{% static 'assets/imgs/banner/banner-1.png' %}" alt="" />
                                    <div class="banner-text">
                                        <h4>
                                            {% trans "Everyday Fresh &" %} <br />{% trans "Clean with Our" %}<br /> {% trans "Products" %}
                                        </h4>
                                        <a href="{% url 'core:coming-soon' %}" class="btn btn-xs">{% trans "Shop Now" %} <i class="fi-rs-arrow-small-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="banner-img">
                                    <img src="{% static 'assets/imgs/banner/banner-2.png' %}" alt="" />
                                    <div class="banner-text">
                                        <h4>
                                            {% trans "Make your Breakfast" %}<br /> {% trans "Healthy and Easy" %}
                                        </h4>
                                        <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-md-none d-lg-flex">
                                <div class="banner-img mb-sm-0">
                                    <img src="{% static 'assets/imgs/banner/banner-3.png' %}" alt="" />
                                    <div class="banner-text">
                                        <h4>{% trans "The best Organic" %} <br />{% trans "Products Online" %}</h4>
                                        <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--End banners-->
                </div>
                <div class="col-lg-1-5 primary-sidebar sticky-sidebar pt-30">
                    <div class="sidebar-widget widget-category-2 mb-30">
                        <h5 class="section-title style-1 mb-30">{% trans "Category" %}</h5>
                        <ul>
                            {% for c in categories %}
                            <li>
                                <a href="{% url 'core:category-product-list' c.c_id %}"> <img src="{{ c.image.url }}" alt="{{ c.title }}" />{{ c.title }}</a><span class="count">{{ c.products.count }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Product sidebar Widget -->
                    <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
                        <h5 class="section-title style-1 mb-30">{% trans "New products" %}</h5>
                        {% for p in new_products_sidebar %}
                        <div class="single-post clearfix">
                            <div class="image">
                                <img src="{{ p.image.url }}" alt="{{ p.title }}" />
                            </div>
                            <div class="content pt-10">
                                <h5><a href="{% url 'core:product-detail' p.p_id %}">{{ p.title|truncatechars:20 }}</a></h5>
                                <p class="price mb-0 mt-5">{{ p.price|vnd }} ₫</p>
                                <div class="product-rate">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
                        <img src="{% static 'assets/imgs/banner/banner-11.png' %}" alt="" />
                        <div class="banner-text">
                            <span>{% trans "Organic" %}</span>
                            <h4>
                                {% trans "Save 17%" %} <br /> {% trans "on" %} <span class="text-brand">{% trans "Organic" %}</span><br /> {% trans "Juice" %}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="popular-categories section-padding">
            <div class="container">
                <div class="section-title">
                    <div class="title">
                        <h3>{% trans "Shop by Categories" %}</h3>
                        <a class="show-all" href="{% url 'core:coming-soon' %}">
                            {% trans "All Categories" %}
                            <i class="fi-rs-angle-right"></i>
                        </a>
                    </div>
                    <div class="slider-arrow slider-arrow-2 flex-right carausel-8-columns-arrow" id="carausel-8-columns-arrows"></div>
                </div>
                <div class="carausel-8-columns-cover position-relative">
                    <div class="carausel-8-columns" id="carausel-8-columns">
                        {% for c in categories %}
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="{% url 'core:category-product-list' c.c_id %}"><img src="{{ c.image.url }}" alt="{{ c.title }}" /></a>
                            </figure>
                            <h6>
                                <a href="{% url 'core:category-product-list' c.c_id %}">{{ c.title }}</a>
                            </h6>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- End 4 columns -->
    </main>
    
    {% endblock content %}


